.button-type-gender {
  background-color: var(--cor-primaria);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid var(--cor-branco);
  transition: 0.2s ease-in-out;
}

.button-type-gender:hover {
  filter: brightness(1.1);
}

.button-type-gender i {
  color: var(--cor-branco);
}

.selected {
  background-color: var(--cor-amarelo) !important;
}

.selected.promotion {
  background-color: var(--cor-vermelho) !important;
}
