.input-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #707070;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}
.input-radio input {
  width: 0px;
  height: 0px;
}

.checked-input-radio {
  border: 4px solid var(--cor-amarelo);
}
