.input-file-container {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #404040;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-file-container input[type="file"] {
  display: none;
}
