.input-styled {
  background-color: transparent;
  border: 2px solid var(--cor-fundo);
  border-radius: 50px;
  padding: 2px 20px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  outline: none;
  height: 42px;
}
