.container-input-file input {
  width: 0;
  height: 0;
  opacity: 0;
}
.fotos-input {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 10px;
  border: 1px solid var(--cor-texto);
  box-sizing: border-box;
  padding: 10px;
  min-height: 150px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
}

@media (min-width: 1400px) {
  .container-input-file {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.foto-input {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  cursor: grab;
}

.fotos-input img {
  width: inherit;
  height: 100%;
  object-fit: contain;
}

.remove-file {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--cor-texto);
  border: 1px solid var(--cor-texto);
}

.foto-input:hover .remove-file {
  opacity: 1;
}

.foto-input.dragging {
  opacity: 0.5;
}
