.content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-orders {
  padding: 5px 10px;
  font-size: 16px;
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  min-width: 150px;
}
