.barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: var(--cor-primaria);
  width: 200px;
  flex-shrink: 0;
  padding: 20px 10px;
  box-sizing: border-box;
  height: 100vh;
}
