.barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--cor-primaria);
  width: 200px;
  padding: 20px 10px;
  box-sizing: border-box;
}
