.botoes-foto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
  width: 100%;
}
.botoes-foto-container p {
  margin: 0;
  color: var(--cor-branco);
}
.cor-cod {
  font-size: 14px;
}
.botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botoes-foto-container .btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
}

.excluir {
  background-color: var(--cor-vermelho) !important;
}
