.custom-button {
  background-color: var(--cor-amarelo);
  border: none;
  color: var(--cor-branco);
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}
.custom-button:hover {
  filter: brightness(0.9);
}
