.cont-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 10%;
}

.tabela-grade-web {
  max-width: 100%;
}

.tabela-grade-web th,
.tabela-grade-web td {
  padding: 2px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
}
.cont-tabela-grade-web {
  max-height: 150px;
  overflow-y: scroll;
}

.cont-tabela-grade-web::-webkit-scrollbar {
  width: 0px;
}

.tabela-grade-web thead {
  background-color: #a4a4a4;
  font-weight: bold;
  position: sticky;
  top: -1px;
  z-index: 2;
}
.cont-grade {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cont-display {
  display: flex;
  gap: 5px;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 10px #00000029;
  width: 45%;
}
.display-dados {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  width: 60%;
}
.display-imagem {
  width: 40%;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.display-dados div {
  width: 100%;
  text-align: center;
  height: 33%;
  padding: 5px;
}
.display-dados h3 {
  margin: 0;
  font-size: 20px;
}
.display-dados p {
  margin: 3px;
  font-size: 15px;
}
.display-dados hr {
  border: none;
  border-top: 2px solid #0074d9;
  margin: 8px 0;
}
