.container-cadastro-web {
  justify-content: space-between !important;
  padding: 40px 20px;
}

.container-tabela {
  height: 60%;
}

.container-tabela {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-dados {
  display: flex;
  width: var(--tamanho-maximo);
  justify-content: space-between;
}

.tipo-genero {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container-tipo {
  height: 250px;
  overflow-y: auto;
}

.container-tipo::-webkit-scrollbar {
  width: 3px;
}

.container-tipo::-webkit-scrollbar-track {
  background: transparent;
}

.container-tipo::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.tipos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: var(--cor-primaria);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.118);
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--cor-primaria);
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  min-height: 264px;
  box-sizing: border-box;
}

.foto {
  width: 200px;
  min-width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.118);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.foto img {
  width: 100%;
  border-radius: 5px;
}

.nome-produto,
.pai {
  font-size: 14px !important;
  color: var(--cor-branco) !important;
  max-width: 300px;
  word-wrap: break-word;
}

.btn-cadastrar {
  padding: 5px 30px;
  border-radius: 50px;
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  font-size: 20px;
  cursor: pointer;
}

.btn-cadastrar:hover {
  filter: brightness(0.8);
}
.container-btn-cadastro {
  display: flex;
  justify-content: center;
}

.grade-corNova {
  width: 30%;
  background-color: var(--cor-primaria);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.118);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nome-pai {
  flex: 1;
}

.tabela-grade td {
  padding: 2px !important;
}
.tabela-grade {
  max-height: 150px !important;
  overflow-y: scroll;
}

.tabela-grade::-webkit-scrollbar {
  width: 0px;
}
.tabela-grade::-webkit-scrollbar-track {
  background: transparent;
}
.tabela-grade::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
