.card {
  width: 200px;
  height: 300px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: 0.1s ease;
}
.foto-card {
  width: 150px;
  min-height: 150px;
  object-fit: cover;
  border: 2px solid var(--cor-fundo);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-card:hover {
  background-color: var(--cor-azulClaro);
  transform: scale(1.05);
  cursor: pointer;
}
.foto-card i {
  font-size: 80px;
  color: var(--cor-fundo);
}

.card-selected {
  box-shadow: 0 0 15px var(--cor-amarelo), 0 0 30px var(--cor-amarelo) !important;
  border: 1px solid var(--cor-amarelo);
  transform: scale(0.95);
}

.card img {
  max-width: 100%;
  max-height: 150px;
  height: auto;
}

.card-foto .foto-card {
  background-color: var(--cor-branco);
  border-radius: 5px;
}
