.card {
  width: 200px;
  height: 300px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: 0.1s ease;
}
.foto-card {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border: 2px solid var(--cor-fundo);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-card:hover {
  background-color: var(--cor-azulClaro);
  transform: scale(1.05);
  cursor: pointer;
}
.foto-card i {
  font-size: 80px;
  color: var(--cor-fundo);
}
