.clientesWhatsappContent {
  padding: 20px;
  box-sizing: border-box;
}

.adicionarClienteContent {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: var(--cor-primaria);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adicionarClienteContent input {
  padding: 5px;
  width: 20%;
  border: none;
  border-radius: 4px;
}

.adicionarClienteContent button {
  padding: 5px 10px;
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adicionarClienteContent button:hover {
  filter: brightness(0.9);
}
