.clientesWhatsappContent {
  padding: 20px;
  box-sizing: border-box;
}

.adicionarClienteContent {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: var(--cor-primaria);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adicionarClienteContent input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.adicionarClienteContent button {
  padding: 5px 10px;
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid var(--cor-branco);
  box-sizing: border-box;
}

.adicionarClienteContent button:hover {
  filter: brightness(0.9);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.inputGroup label {
  margin-bottom: 4px;
  font-size: 0.95em;
  color: var(--cor-branco);
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.action-btn {
  border: 2px solid var(--cor-branco);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  margin: auto;
}

.action-btn:hover {
  filter: brightness(0.9);
}

.action-btn.edit {
  background: var(--cor-amarelo);
}

.action-btn.delete {
  background: var(--cor-vermelho);
}
