.configuracoes-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: absolute;
  width: 400px;
  top: 0;
  right: 0;
  background-image: linear-gradient(to top right, var(--cor-primaria), #415b72);
  transition: 0.3s ease-in-out;
  transform: translate(100%);
  z-index: 2;
  box-sizing: border-box;
  padding: 80px 20px 20px 20px;
  gap: 20px;
}

.open-configuracoes-container {
  transform: translate(0);
}

.configuracoes-container h1 {
  color: var(--cor-branco);
}

.opcoes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
