.content {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.titulo-timer-container {
  padding: 10px 0;
  box-sizing: border-box;
}

.content .titulo {
  font-size: 30px;
  font-weight: bold;
}

.content .titulo p {
  margin: 0;
}

@media (max-height: 800px) {
  .content {
    padding: 15px;
  }
  .content .titulo {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .content-body {
    padding: 10px;
  }
}

.button-content-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.content-body {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 90%;
}

@media (max-width: 768px) {
  .tabela-container {
    padding: 2px;
  }
  .tabela th,
  .tabela td {
    font-size: 11px;
    padding: 4px;
  }
  .content {
    max-width: 100vw;
    padding: 0;
  }
}

.titulo-timer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
}

.timer {
  /* Mantém o estilo já existente */
  background: var(--cor-sucesso);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
