.content {
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  box-sizing: border-box;
}

.content .titulo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.button-content-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.content-body {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

@media (max-width: 768px) {
  .tabela-container {
    padding: 2px;
  }
  .tabela th,
  .tabela td {
    font-size: 11px;
    padding: 4px;
  }
  .content {
    max-width: 100vw;
    padding: 0;
  }
}
