.container-fotos {
  background-color: var(--cor-branco);
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 70vh;
  overflow: hidden;
}

.navBar-fotos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navBar-fotos div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.filtro-fotos {
  border-radius: 60px;
  padding: 10px;
  border: 2px solid var(--cor-texto);
}
.btn-baixar-foto {
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  border: none;
  border-radius: 60px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}

.btn-adicionar-foto {
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  gap: 9px;
  min-width: 30px;
  min-height: 30px;
}

.navBar-fotos button:hover {
  filter: brightness(0.9);
}

.content-fotos {
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 90%;
}
.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-height: 550px;
}

@media (max-height: 600px) {
  .navBar-fotos {
    margin-bottom: 8px;
    padding: 4px 0;
    font-size: 0.95em;
  }
  .navBar-fotos div {
    gap: 4px;
  }
  .btn-baixar-foto,
  .btn-adicionar-foto {
    padding: 6px 10px;
    font-size: 0.95em;
    min-width: 24px;
    min-height: 24px;
  }
  .content-fotos {
    height: 80%;
  }
}
