.home-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  justify-items: center;
  align-items: start;
}
.card-container {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
}
.card-container p {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  border: 2px solid var(--cor-fundo);
  color: var(--cor-fundo);
  text-align: center;
  margin: 0;
}
