.input-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 3px solid #707070;
  background-color: #fff;
  border-radius: 50%;
}
.input-radio input {
  width: 0px;
  height: 0px;
}

.checked-input-radio {
  border: 4px solid var(--cor-amarelo);
}
