.container-input-file input {
  width: 0;
  height: 0;
  opacity: 0;
}
.fotos-input {
  width: 100%;
  display: flex;
  gap: 10px;
  border: 1px solid var(--cor-texto);
  box-sizing: border-box;
  padding: 10px;
}

.foto-input {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.fotos-input img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
