.input-label {
  display: flex;
  flex-direction: column;
}
.input-label label {
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--cor-branco);
}
.input-label input {
  margin-bottom: 12px;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--cor-branco);
  border-radius: 50px;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  box-sizing: border-box;
}
