/* .container-input-file input {
  width: 0;
  height: 0;
  opacity: 0;
} */
.fotos-input {
  width: 100%;
  display: flex;
  gap: 10px;
  border: 1px solid var(--cor-texto);
  box-sizing: border-box;
  padding: 10px;
}

.fotos-input img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
