.loading {
  width: 50px;
  height: 50px;
  max-width: 150px;
  max-height: 150px;
  border-top: 5px solid var(--cor-azulClaro);
  border-right: 5px solid var(--cor-azulClaro);
  border-bottom: 5px solid var(--cor-azulClaro);
  border-left: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
