.login-page {
  background-color: var(--cor-primaria);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: #d9d9d93a;
  width: 500px;
  min-height: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-container {
  width: 60%;
}
.logo-container img {
  width: 100%;
}
.input-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}
.input-container div {
  width: 100%;
}
.input-container label {
  color: var(--cor-branco);
  font-size: 24px;
}
.input-container input {
  width: 100%;
  padding: 10px;
  border: 3px solid var(--cor-fundo);
  border-radius: 50px;
  color: var(--cor-branco);
  background-color: transparent;
}
.button-container {
  width: 60%;
  display: flex;
  margin-top: 40px;
}
.button-container button {
  width: 100%;
  padding: 5px;
  border: 3px solid var(--cor-fundo);
  border-radius: 50px;
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}
.button-container button:hover {
  filter: brightness(90%);
}
