.menu-meu-perfil {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 10;
  min-width: 150px;
  transition: 0.3s;
  transform: translateY(-100%);
  padding-top: 60px;
}

.menu-meu-perfil ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-meu-perfil ul li button {
  color: var(--cor-branco);
  background-color: #415b72;
  border: 1px solid var(--cor-fundo);
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: brightness(90%);
}
.menu-meu-perfil ul li button:hover {
  filter: brightness(100%);
}

.open-menu {
  transform: translateY(0);
}
