.nav-bar {
  background-image: linear-gradient(to right, var(--cor-primaria), #415b72);
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  position: relative;
  z-index: 10;
}

.nav-bar .home {
  margin-right: auto;
}

.nav-bar .home button,
.nav-bar .actions button {
  padding: 0;
  background: none;
  border: none;
  color: var(--cor-branco);
  cursor: pointer;
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar button:hover {
  color: var(--cor-fundo);
}

.nav-bar .actions {
  display: flex;
  gap: 35px;
  margin-left: auto;
}

.meu-perfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--cor-fundo) !important;
  background-image: url("../assets/img/png/logo_png.png") !important;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
