#popup-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-cotacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-pedido-content,
.popup-cotacao-content {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%; /* Garante que ocupe toda a altura do popup */
}

.popup-pedido-content h1 {
  font-weight: bolder;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.popup-pedido-content .tabela-container {
  flex-grow: 1; /* Faz a tabela ocupar o espaço restante */
  overflow: auto; /* Adiciona scroll em ambos os eixos se necessário */
  max-height: none !important; /* Remove a altura máxima fixa para funcionar com flex-grow */
}

.popup-cotacao-content .tabela-container {
  max-height: 350px !important;
}
