#popup-pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-cotacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-pedido-content,
.popup-cotacao-content {
  padding: 20px;
  box-sizing: border-box;
}

.popup-pedido-content h1 {
  font-weight: bolder;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.popup-pedido-content .tabela-container {
  max-height: 430px !important;
}

.popup-cotacao-content .tabela-container {
  max-height: 350px !important;
}
