.blur {
  width: 100%;
  height: 100vh;
  background-color: #00000041;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Aumentado para garantir que fique sobre o conteúdo */
}

.pop-up {
  background-color: var(--cor-fundo);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 11;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: 0.3s ease-in-out;
  animation: scale-in 0.3s forwards; /* Adicionando animação */
}

/* Animação para o pop-up aparecer */
@keyframes scale-in {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--cor-primaria);
  border: 2px solid var(--cor-fundo);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: var(--cor-fundo);
  text-align: center;
  padding: 2px 0 0 0;
  cursor: pointer;
}
.close-button:hover {
  filter: brightness(1.2);
}
