.pop-up-meu-perfil {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.foto-perfil img {
  width: 100%;
  height: 100%;
}

.foto-perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.foto-perfil-container button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  border: 1px solid var(--cor-branco);
  font-size: 16px;
  cursor: pointer;
}

.nome {
  font-size: 84px;
  font-weight: 900;
  margin: 0;
  font-family: var(--font-titulo);
}
.cargo {
  margin: 0;
}

.informacoes {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  border: 2px solid var(--cor-texto);
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}
