.pop-up-editar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-height: 90vh; /* Limite de altura baseado na tela */
  box-sizing: border-box;
  height: 100%;
}

.info-geral-edit {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  min-height: 0;
}

.descricao-content {
  width: 40%;
  min-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.descricao-content textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 300px; /* Ajuste conforme necessário */
  resize: vertical;
  box-sizing: border-box;
}

.infos-content {
  width: 50%;
  min-width: 0; /* Permite encolher corretamente */
  box-sizing: border-box;
}

.infos-content .infos-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.infos-content .infos-inputs .input-label,
.infos-content .infos-inputs .select-label {
  width: 100%;
}
.infos-content .infos-inputs .input-label input {
  padding: 5px !important;
  box-sizing: border-box;
}

.imagem-preview {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
  display: block;
}

.video-content iframe {
  width: 100%;
  height: 200px;
  border: none;
}
