.search-button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-amarelo);
  color: var(--cor-branco);
  padding: 7px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: filter 0.3s;
}

.search-button:hover {
  filter: brightness(0.9);
}
