.select-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  position: relative; /* Necessário para o posicionamento das opções */
}

/* Adicione esta nova regra */
.select-label.is-open {
  z-index: 2;
}

.select-label label {
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--cor-branco);
}

/* Esconde o select original */
.select-label > select {
  display: none;
}

.custom-select-container {
  position: relative;
  width: 100%;
  color: var(--cor-texto);
}

.custom-select-trigger {
  position: relative;
  background-color: var(--cor-fundo);
  border: 1px solid var(--cor-branco);
  border-radius: 50px;
  padding: 8px 30px 8px 15px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: 0.2s;
}

.arrow.down {
  border-top: 5px solid var(--cor-texto);
}

.arrow.up {
  border-bottom: 5px solid var(--cor-texto);
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* Adiciona transição */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    visibility 0.2s;
}

.custom-options.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Estilos para o input de pesquisa */
.select-search-input {
  box-sizing: border-box;
  width: calc(100% - 16px); /* Ajusta a largura para o padding */
  margin: 8px; /* Espaçamento nas laterais e topo/fundo */
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.select-search-input:focus {
  outline: none;
  border-color: #007bff; /* Cor de destaque ao focar */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2); /* Sombra sutil */
}

.custom-option {
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
}

.custom-option:hover {
  background-color: #f5f5f5;
}

.custom-option.selected {
  background-color: #fff;
  border: 1px solid orange;
  color: #333;
}

.texto-preto label {
  color: var(--cor-preto) !important;
}
