.tabela-container {
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  height: 100%;
}

.tabela-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tabela-container::-webkit-scrollbar-track {
  background: var(--cor-fundo);
  border-radius: 4px;
}

.tabela-container::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);
  border-radius: 4px;
  border: 2px solid var(--cor-fundo);
}

.tabela-container::-webkit-scrollbar-thumb:hover {
  background-color: #415b72;
}

.tabela {
  width: 100%;
  min-width: 600px; /* opcional: define um mínimo para não quebrar */
  border-collapse: collapse;
}
.tabela th,
.tabela td {
  border: 1px solid var(--cor-azulClaro);
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}
.tabela td {
  font-size: 14px;
  color: var(--cor-texto);
  padding: 10px;
}
.tabela thead {
  background-color: var(--cor-primaria);
  color: var(--cor-branco);
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Adicione esta regra para elevar a linha da tabela quando um select dentro dela estiver aberto */
.tabela tr:has(.select-label.is-open) {
  position: relative;
  z-index: 3;
  filter: none;
}

.par {
  background-color: var(--cor-azulClaro);
}
.impar {
  background-color: var(--cor-fundo);
}
.hover:hover {
  filter: brightness(0.9);
}

.selecionado {
  background-color: var(--cor-selecionado) !important;
  color: var(--cor-branco) !important;
  font-weight: bold;
}

.tabela tr.linha-selecionada td {
  background-color: #658884 !important;
  color: var(--cor-branco) !important;
}

.loading-table {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

td,
th {
  text-align: center;
  padding: 20px;
}

.tabela .custom-checkbox {
  margin: auto;
}

.th-search {
  text-align: start !important;
}
.th-search input {
  padding: 8px 20px;
  box-sizing: border-box;
  border: 3px solid var(--cor-branco);
  border-radius: 50px;
  background-color: transparent;
  color: var(--cor-branco);
}

.th-search input:focus {
  outline: none;
}

.item-copiavel {
  cursor: pointer;
  transition: 0.2s;
}

.copiado {
  color: var(--cor-sucesso) !important;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .tabela-container {
    padding: 4px;
  }
  .tabela th,
  .tabela td {
    font-size: 12px;
    padding: 6px;
  }
}

.action-btn {
  border: 2px solid var(--cor-branco);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  margin: auto;
}

.action-btn:hover {
  filter: brightness(0.9);
}

.action-btn.edit {
  background: var(--cor-amarelo);
}

.action-btn.delete {
  background: var(--cor-vermelho);
}
