.tabela-produtos-web {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 20px, 20px, 0px, 0px;
}

.tabela-produtos-web th,
.tabela-produtos-web td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-produtos-web td {
  text-align: center;
  border: 1px solid #ddd;
}

.tabela-produtos-web thead {
  background-color: #07b6d4;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.tabela-produtos-web thead th {
  text-align: center;
  color: #fff;
}

.tabela-produtos-web tbody tr:nth-child(odd) {
  background-color: #b6e6efdd;
}

.selecionado {
  background-color: #05859c !important;
  color: #fff;
  cursor: auto !important;
  filter: none !important;
}

.tabela-produtos-web tbody tr:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
