@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor-primaria: #2c3e4e;
  --cor-fundo: #e8edeb;
  --cor-texto: #1c1c1c;
  --cor-vermelho: #b2473e;
  --cor-azulClaro: #8cbdb7;
  --cor-amarelo: #df9f4e;
  --cor-branco: #fff;
  --fonte-principal: "Inter", Arial, sans-serif;
  --fonte-titulo: "Bebas Neue", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  overflow: hidden;
}

.content {
  display: flex;
}
