@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor-primaria: #2c3e4e;
  --cor-fundo: #e8edeb;
  --cor-texto: #1c1c1c;
  --cor-vermelho: #b2473e;
  --cor-azulClaro: #8cbdb7;
  --cor-amarelo: #df9f4e;
  --cor-branco: #fff;
  --cor-selecionado: #658884;
  --cor-sucesso: #658884e4;
  --cor-falha: #b2473ee4;
  --cor-aviso: #df9f4ee4;
  --fonte-principal: "Inter", Arial, sans-serif;
  --fonte-titulo: "Bebas Neue", cursive;
  --tamanho-maximo: 1300px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.content-title {
  width: 100%;
  max-width: var(--tamanho-maximo);
}
.main-container {
  display: flex;
  height: calc(100vh - 60px);
}
