.mensagens-wpp-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%; /* Garante que o container ocupe todo o espaço disponível */
}

.mensagens-wpp-content {
  display: flex;
  gap: 24px;
  flex: 1;
  min-height: 0;
}

.mensagens-wpp-content > div:first-child {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.mensagens-wpp-container textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  resize: none;
}

.mensagens-wpp-timer {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  height: 100%;
}

.mensagens-wpp-enviar {
  width: 100%;
  padding: 16px 0;
  background: #d0934a;
  color: #fff;
  font-size: 20px;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
  transition: filter 0.2s;
  letter-spacing: 1px;
}

.mensagens-wpp-enviar:hover {
  filter: brightness(0.95);
}
